aiohttp
arxiv==2.1.3
beautifulsoup4==4.13.3
click
fire
firecrawl==1.12.0
gradio
more_itertools==10.6.0
openai
pandas==2.0.3
Requests
setuptools
streamlit
tabulate
tenacity
tiktoken
tqdm
transformers
accelerate
vllm==0.7.2
